PYTHONPATH = app
API_PORT = your_api_port

POSTGRES_USER = your_postgres_user
POSTGRES_PASSWORD = your_postgres_password
POSTGRES_DB = your_postgres_db
POSTGRES_PORT = your_postgres_port

PGADMIN_EMAIL = your_pgadmin_email
PGADMIN_PASSWORD = your_pgadmin_password

JWT_SECRET_KEY = your_jwt_secret_key
JWT_ALGORITHM = your_jwt_algorithm
